* {
    box-sizing: border-box;
}

/* normalizers */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

input {
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #33ded2;
    color: #932765;
    margin: 0;
    padding: 20px;
}

.flex {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* typography */

.header h1 {
    display: inline;
    text-align: center;
}

.main-title {
    display: block;
    justify-content: center;
}

.main-title i {
    display: inline;
    font-size: 1.5em;
    margin-right: 10px;
    color: #f9e735;
}

h2 {
    font-size: 1.1em;
    font-weight: normal;
}

.game-info-number {
    font-family: 'Orbitron', sans-serif;
}

/* columns */

.game-board {
    width: 100%;
}

.col-3 {
    text-align: center;
}

/* misc */

.player-details-form {
    margin-top: 20px;
}

.player-details-form label, input {
    display: block;
}

.begin-btn {
    margin-left: 10px;
}

.game-info {
    margin: 15px 0;
    padding: 15px 25px;
    border-radius: 4px;
    background-color: #f9e735;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.game-info-number {
    font-size: 1.5em;
}

.stars li, #success-stars li {
    list-style: none;
    display: inline-block;
}

.stars, #success-stars {
    padding: 0;
}

.star-lit {
    color: rgb(240, 183, 38);
}

.game {
    margin: 20px 0;
}

.deck {
    transition: 0.4s;
}

.deck li {
    list-style: none;
}

/* cards */

.card {
    width: 24%;
    background-color: transparent;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 2em;
    background-color: transparent;
    perspective: 1000px;
}

.card-internal {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.card-front {
    background-color: #125c56;
    color: #247e78;
}

.card-back {
    background-color: #f9e735;
    transform: rotateY(180deg);
}

.flip-it {
    transform: rotateY(180deg);
}

.match {
    background-color: #932765;
    color: #f9e735;
}

@keyframes cardEnlarger {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.enlarge {
    animation: cardEnlarger 0.5s 1;
}

/* modals */

.modal-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0 15px;
    text-align: center;
    background-color: rgba(51, 222, 210, 0.7)
}

.modal-open {
    display: flex;
}

.modal-closed {
    display: none;
}

.modal {
    padding: 20px;
    background-color: #f9e735;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2)
}

.modal h1 {
    margin: 0;
}

.success-count {
    font-weight: bold;
}

.btn {
    padding: 12px 15px;
    background-color: #932765;
    border-radius: 4px;
    color: white;
}


@media only screen and (min-width: 400px) {
}

@media only screen and (min-width: 800px) {

    body {
        margin: 0 40px;
    }

    /* modals */
    .player-details-form label, input, button {
        width: inherit;
    }

    /* header */
    .header {
        padding-top: 20px;
    }

    .main-title {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .game-info {
        margin: 20px 0;
        padding: 15px;
    }

    .game .container {
        display: flex;
        justify-content: space-between;
    }

    .col-3 {
        width: 25%;
    }

    .card {
        font-size: 2.5em;
    }

}